@{
    ViewData["Title"] = "Forgot Password";
}

<div class="d-flex vh-100">
    <div class="w-50 d-flex align-items-center justify-content-center bg-light">
        <div class="container" style="max-width: 400px;">
            <h3>Forgot password?</h3>
            <form method="post">
                <input type="email" name="email" class="form-control" required placeholder="Enter Email" />
                <button type="submit" class="btn btn-primary mt-2">Reset password</button>
            </form>

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger mt-2">
                    @TempData["Error"]
                </div>
            }

            @if (TempData["Success"] != null) 
            {
                <div class="alert alert-success mt-2">
                    Link to reset password: <a href="@TempData["Success"]" target="_blank" rel="noopener noreferrer">@TempData["Success"]</a>
                </div>
            }
        </div>
    </div>

    <div class="w-50 right-side">
    </div>
</div>
