<div class="d-flex vh-100">
    <div class="w-50 d-flex align-items-center justify-content-center bg-light">
        <div class="container" style="max-width: 400px;">

            <h3>Reset password</h3>
            <form method="post">
                <input type="hidden" name="token" value="@ViewBag.Token" />
                <input type="password" name="newPassword" class="form-control" required placeholder="New Password" />
                <button type="submit" class="btn btn-success mt-2">Change password</button>
            </form>
        </div>
    </div>
    
    <div class="w-50 right-side"></div>
</div>